
<%- include("header"); -%>

<div class="grid-container">
  <div class="header">Tompstomp
    <p><%= dateToday %><p>
  </div>

  <div class="menu">Users</div>

  <div class="main">

  <% for(var i=0;i<stomps.length;i++) {%>
    <% if(user[i] == user[i-1]) { %>
      <div class="user"></div>
      <% } else { %>
      <div class="user"><%= user[i] %></div>
    <% } %>
    <div class="avatar">A</div>
    <div class="chatbubble"><%= stomps[i] %></div><br>
    <div class="messageTime"><%= date[i].getHours() + ":" + date[i].getMinutes() %></div><br>
  <% } %>

  </div>

  <div class="chat">
    <form action="/" method="post">
      <input type="text" name="stomp" placeholder="Write your message here" autocomplete="off" maxlength="50" required autofocus>
      <button class="mainStompSubmit" type="submit">+</button>
    </form>
  </div>
</div>

<%- include("footer"); -%>
